.body-container {
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
}

.title-background {
    left: 0;
    position: absolute;
    height: 50px;
    width: 100%;
    background: #1B242F;
    /* border-bottom: 3px solid #04C2C9; */
    border-bottom: 3px solid #f35c5e;
    text-align: left;
    z-index: 99;
}

.title-between {
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: center;
    padding-top: 10px;
}

nav.styleNav {
    /* bottom: 0; */
    left: 0;
    position: absolute;
    height: 50px;
    width: 100%;
    background: #1B242F;
    /* border-bottom: 3px solid #04C2C9; */
    border-bottom: 3px solid #f35c5e;
    text-align: left;
    z-index: 99;
}

.navbar.fixed-top.navbar-light.bg-light {
    height: 50px;
    padding-top: 30px;
}

nav.header {
    /* border-bottom: 5px solid #004e66; */
    border-bottom: 3px solid #f35c5e;
}

blockquote {
    border-left: 5px solid #004e66;
    font-size: 125%;
    font-weight: 400;
    margin: 20px 0;
    padding-left: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#front-test {


    font-size: 50px;

    font-family: 'Raleway', sans-serif;
}


/* h1,
h2,
h3,
a {
	color: #004e66;
} */

a {
    text-decoration: none;
}

#viewMoreButton {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;


}

.highlight {
    color: #f35c5e;
}


/* .logo {
  color: #004e66;
	margin: 0;
	font-size: 1.45em;
  font-family: 'Raleway', sans-serif;
  border: 4px solid #004e66;
  padding: 10px;
  text-align: center;
	text-decoration: none;

} */

.main-nav {
    margin-top: 5px;
    /* padding: 10px; */
}


/* .logo a{
  padding: 10px 10px;
  text-align: center;

} */

.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-family: 'Raleway', sans-serif;
    Font-Size: 35px;
    color: #FFFFFF;
    font-size: 1.1em;
}

.active {
    color: #f35c5e;
}

.main-nav a:hover {
    color: #f35c5e;
}

.header-links {
    padding-top: .5em;
    padding-bottom: .5em;
    /* border: 1px solid #a2a2a2;
	background-color: #f4f4f4; */
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.flex-text-container {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-Size: 35px;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #e6ffff; */
    /* border-top: 2px solid #004e66; */
    width: 100%;
    height: 50rem;
    background-image: url("images-portfolio/DSC01693.jpeg");
}

.flex-text-items {
  display: inline-block;
  align-self: flex-start;
  padding-left: 50px;




    /* font-size: 40px;
    font-family: 'Raleway', sans-serif; */
}

/* .botton:hover {
    background-color: #8af7f7;
    border-color: #8af7f7;
} */

.button-page-link {
    padding: 5px;
    /* border: 2px solid #04C2C9; */
    border: 2px solid #f35c5e;
    box-sizing: inherit;
    display: inline-block;
    font-size: 15pt;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    align-self: center;


}

.project-container {
    width: 100%;
    height: 40rem;
}

.icons-container {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    width: 100%;
    height: 80px;
    /* grid-auto-rows: 20%; */
    /* background: #e6ffff; */
    padding-top: 20px;
}

.underline {
    /* border-bottom: 3px solid #04C2C9; */
    border-bottom: 3px solid #f35c5e;
}

.card-deck {
    padding-top: 75px;
}

.info-about-container {
    padding-top: 75px;
}

.contact-form-container {
    padding-top: 75px;
    margin: auto;
    width: auto;
    display: inline-block;
}

.icons-items {
    padding-top: 30px;
    margin: auto;
    width: auto;
    display: inline-flex;
}

.footer-container{
  padding-top: 50px;

}

.fa {
    font-size: 50px;
    padding: 20px;
    margin-right: 15px;
    color: #004e66;
}

.fa.fa-github-square {
    /* color: #23acee; */
    text-decoration: none;
    padding: 10px;
    font-size: 50px;
}

.fa.fa-linkedin-square {
    /* color:#23acee; */
    padding: 10px;
    font-size: 50px;
}

.fa.fa-twitter-square {
    /* color: #23acee; */
    padding: 10px;
    font-size: 50px;
}

.fa.fa-envelope-square {
    padding: 10px;
    font-size: 50px;
    /* color: #004e66; */
}

.fa.fa-phone-square {
    padding: 10px;
    font-size: 50px;
    /* color: #004e66; */
}

.fa.fa-map-marker {
    padding: 10px;
    font-size: 50px;
    /* color: #004e66; */
}

#footer-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding: 15px;
}

#perfil {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 5px;
}


/* .profileP{
	display:flex;
	align-content: center;
	width: 50%;


}


img.profile-photo {
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	padding: 5px;
} */

.flex-container {
    display: flex;
    justify-content: space-around;
}

.coffee {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}

.origami {
    width: 190px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}

.sudoku {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}
